@use "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  &__logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo-imago {
    min-width: 75px;
    transform: translateX(-18px);
  }

  &__logo-title {
    font-size: 32px;
  }
}

.navbar {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;

  &__link-container {
    padding-block: 0.5rem;
    background-image: linear-gradient(
      variables.$secondary-color,
      variables.$secondary-color
    );
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% variables.$border-stroke;
    transition: background-size 0.2s ease 0s;

    &:hover {
      background-size: 100% variables.$border-stroke;
    }
  }

  &__link {
    font-weight: 700;
    letter-spacing: 0.05rem;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__title {
    font-size: 1.5rem;
    color: variables.$secondary-color;
    padding-bottom: 1rem;
  }
}

.title-line {
  font-size: 1.5rem;
  color: variables.$secondary-color;
  position: relative;
  overflow: hidden;
  padding-block: 5rem;

  &--contact {
    padding-block: 0;
  }
}

.title-line::after {
  position: absolute;
  top: 51%;
  width: 100%;
  height: variables.$border-stroke;
  background-color: variables.$secondary-color;
  margin-left: 2%;
  content: "";
}

.link {
  color: #fff;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 999px;
  letter-spacing: 0.05rem;
  background-color: variables.$primary-color;
  transition: background-color 0.2s ease 0s;
}

.link:hover {
  background-color: variables.$secondary-color;
}

.text--secondary-color {
  color: variables.$secondary-color;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-template-rows: 1fr auto;
  gap: 2rem;

  &--design {
    grid-template-columns: repeat(auto-fill, minmax(185px, auto));
  }
}

.card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
  }

  &__title {
    font-size: 1.5rem;
    color: variables.$secondary-color;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 2;
    column-gap: 2rem;

    > .link {
      margin-top: 1rem;
    }
  }

  &__image-container {
    position: relative;
    display: block;

    &--design {
      height: 100%;
    }
  }

  &__image {
    position: relative !important;
    object-fit: cover;
  }
}

.card__info {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #{variables.$secondary-color}ee;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 1rem;
  opacity: 0;
  transition: opacity 0.2s ease-out 100ms;
  border-radius: 20px;

  &-separator {
    background-color: #fff;
    height: 1px;
    width: 100px;
  }
}

.card:hover {
  .card__info {
    opacity: 1;
  }
}

.design-project {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-size: 2rem;
  }

  &__text-copyright {
    font-size: 0.85rem;
    font-style: oblique;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }
}

.footer {
  background-color: variables.$primary-color;
  min-width: 300px;

  &--copyright {
    background-color: variables.$secondary-color;
    color: #fff;
    text-align: center;
    padding-block: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5rem;
    gap: 4rem;
    max-width: 1200px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__text {
    color: #fff;
    text-align: center;

    &--email {
      font-size: 1.5rem;
    }
  }

  &__link:hover {
    filter: invert(40%) sepia(50%) saturate(5500%) hue-rotate(190deg)
      brightness(90%) contrast(90%);
  }
}
