@use "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title-line {
  font-size: 1.5rem;
  color: variables.$secondary-color;
  position: relative;
  overflow: hidden;
}

.title-line::after {
  position: absolute;
  top: 51%;
  width: 100%;
  height: variables.$border-stroke;
  background-color: variables.$secondary-color;
  margin-left: 2%;
  content: "";
}

.link {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 999px;
  letter-spacing: 0.05rem;
  background-color: variables.$primary-color;
  display: inline-block;
}

.link:hover {
  background-color: variables.$secondary-color;
}

.text--secondary-color {
  color: variables.$secondary-color;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-template-rows: 1fr auto;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
  }

  &__title {
    font-size: 1.5rem;
    color: variables.$secondary-color;
  }

  &__links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 2;
    gap: 2rem;

    > .link {
      margin-top: 1rem;
    }
  }

  &__image-container {
    position: relative;
    display: block;
  }

  &__image {
    position: relative !important;
  }
}
