@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

$light-color: #fff7f0;
$primary-color: #000;
$secondary-color: #3354fe;
$primary-font: "Plus Jakarta Sans", "sans-serif";
$border-stroke: 4px;
