.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.button {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 999px;
  letter-spacing: 0.05rem;
  background-color: var(--primary-color);
}

.button:hover {
  background-color: var(--secondary-color);
}

.secondary_text {
  color: var(--secondary-color);
}
